{% extends 'layout.html' %}

{% block title %}
Race Report
{% endblock %}

{% block body %}
  <h1>Race report</h1>
  <table class="table table-hover" style="width:50%" align="center">
      <thead class="table-light">
        <tr>
          <th scope="col">#</th>
          <th scope="col">Racer</th>
          <th scope="col">Club</th>
          <th scope="col">Time</th>
        </tr>
      </thead>
      <tbody class="table-group-divider">
        {% for result in results %}
        <tr>
            <td scope="row">{{ loop.index }}</td>
            <td>{{ result['full_name'] }}</td>
            <td>{{ result['club'] }}</td>
            <td>{{ result['time'] }}</td>
        </tr>
        {% endfor %}
      </tbody>
    </table>

{% endblock %}